<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  {% if site.social.weibo %}
  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/{{site.social.weibo}}" title="@papatwo 的微博" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.github %}
  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/{{site.social.github}}" title="@papatwo 的 Github" target="_blank">
	  <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>
  {% endif %}
  
  {% if site.social.twitter %}
  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/{{site.social.twitter}}" title="@papatwo 的 twiiter" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.douban %}
  <!-- douban -->
  <li class="navigation__item">
    <a href="https://www.douban.com/people/{{site.social.douban}}" rel="author" title="@papatwo 的豆瓣" target="_blank">
	  <!--img scr="/social_16-128.png" alt="DouBan"-->
	  <i class='icon-douban'></i>
      <span class="label">豆瓣</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.bilibili %}
  <!-- douban -->
  <li class="navigation__item">
    <a href="https://space.bilibili.com/{{site.social.bilibili}}" rel="author" title="@papatwo 的B站" target="_blank">
    <!--img scr="/social_16-128.png" alt="DouBan"-->
    <!--i class='fab fa-bimobject'></i-->
    <!--i class="icon iconfont icon-icon-class-b"></i>
      <div class="name">B</div-->

                    <div class="name">B</div>

      <span class="label">B站</span>
    </a>
  </li>
  {% endif %}

  <!-- RSS -->
  <!-- <li class="navigation__item">
    <a href="/feed.xml" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li> -->

  {% if site.social.mail %}
  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:{{site.social.mail}}" title="Contact me">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>
  {% endif %}

  </ul>
</nav>
